
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Background */
.TopH{
    position: absolute;
    background: aqua;
    width: 100%;height: 50%;
    top: 0;
}
.BottomH{
    position: absolute;
    background: rgb(0, 217, 255);
    width: 100%;height: 50%;
    border-top: 3px solid grey;
    bottom: 0;
}

.Container{
    position: absolute;
    transform-origin: center;
    top: 50%; left: 50%;
    margin-top: -20px;
    margin-left: -20px;
}

/* Nav Button */
.NavBtn{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform-origin: center;
    border: none;
    background-color: whitesmoke;
    color: rgb(104, 104, 249);
    width: 40px; height: 40px;
    border-radius: 50%;
    transition: 1s 0.4s ;
} 

/* Top line */
.NavBtn::before{
    position: absolute;
    content: "\268A";
    font-size: 40px;
    transform-origin:  center;
    top: -60%; right: 0; bottom: 0; left: 0;
    transition: 0.8s ease;
}

/* Bottom line */
.NavBtn::after{
    position: absolute;
    content: "\268A";
    font-size: 40px;
    transform-origin: center ;
    top: -30%; right: 0; bottom: 0; left: 0;
    transition: 0.8s ease;
}

.btnActive{
    transform: translateX(80px);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-delay: 1s;
}
.btnActive::before{
    top: -30%; right: 35%;
    transition-timing-function: cubic-bezier(0.975, -1.25, 0.9, 0.45);
    rotate: -45deg;
}
.btnActive::after{
    top: -30%; right: -35%;
    transition-timing-function: cubic-bezier(0.975, -1.25, 0.9, 0.45);
    rotate: 45deg;
}

/* The Nav Bar */
.FancyNav{
    position: absolute;
    align-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    background-color: whitesmoke;
    width: 40px; height: 40px;
    border-radius: 50%;
    transition: 1s 0.8s;
}
.menu{
    border-radius: 5%;
    width: 200px;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translateX(-80px);
}

.Links{
    margin-left: 2px;
    transition: 1s ease;
    
}
.Links a{
    text-decoration: none;
    opacity: 0;
    transition: 1s ease;
    color:  black;
}

.Links a:nth-child(2){
    transition-delay: 0.2s;
}

.Links a:nth-child(1){
    transition-delay: 0.4s;
}

.show a{
    opacity: 1;
}
.show a :hover{
    color: grey;
}